# Игнорировать папку .idea
.idea/

# Игнорировать папки __pycache__
__pycache__/
*/__pycache__/

# Игнорировать виртуальное окружение
venv/

# Игнорировать другие временные файлы
*.pyc
*.pyo
*.pyd
*.db
*.sqlite